<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pick Up Date</title>
</head>
<body>
<h1>Pick Up Date</h1><br>
<h2>Current Pickup Day</h2>
{{Customer.pickup_date}}
<a href='change_day'><button type="button" class="btn">Change Day</button></a>
 <a class="btn" aria-current="page"  href='pickup'>Pick up Day</a>
</body>
</html>