<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pick Up Date</title>
</head>
<body>

<h1>Pick Up Date</h1>
{% csrf_token %}
<h2>Current Pickup Day</h2>
{{Customer.pickup_date}}<br>
<h2>Change Pickup Day</h2>
<form action="{% url 'customers:change_day' %}" method="post">
    {% csrf_token %}
    Pickup Date:<input type="text" name="name" placeholder="Monday-Sunday" id="name"><br>
<input type="submit" value="Submit!">
</form>





</body>
</html>