{% extends 'base.html' %}

{% block title %}{% block header %} Suspend Account {% endblock %}{% endblock %}

{% block content %}

{% csrf_token %}
<h3>Date to Start Suspending</h3>
<form action="{% url 'customers:start_end_day' %}" method="post">
    {% csrf_token %}
    Start Date:<input type="date" name="Suspend Start Date" placeholder="yyyy-mm-dd" id="Suspend Start Date"><br>
    End Date:<input type="date" name="Suspend End Date" placeholder="yyyy-mm-dd" id="Suspend End Date"><br>
    <input type="submit" value="Submit!">
</form>
{% endblock %}




